<app-modal id="modal-add-word">
    <div class="fixed -translate-x-2/4 -translate-y-2/4 left-2/4 top-2/4 max-w-[600px] shadow-[4px_4px_15px_#ffffff08_inset] bg-white w-full p-4 rounded-3xl">
        <div class="text-center text-lg font-semibold">{{ type === 'add' ? 'Thêm' : 'Sửa' }} từ vào sổ tay</div>
        <form [formGroup]="dataAddWord">
            <label class="block font-medium mt-5">*Nhập từ</label>
            <div class="flex items-center border border-[var(--color-neutral-95)] px-3 py-2 rounded-xl focus-within:border-[var(--color-primary)]">
                <input #inputElement class="outline-none grow" type="text" formControlName="word" />
            </div>
            @if (submitted && dataAddWord.controls['word'].errors) {
                <div class="text-xs text-[var(--color-fail)] mt-1">Không được để trống trường này</div>
            }
            <label class="block mt-5 font-medium">Phiên âm</label>
            <div class="flex items-center border border-[var(--color-neutral-95)] px-3 py-2 rounded-xl focus-within:border-[var(--color-primary)]">
                <input #inputElement class="outline-none grow" type="text" formControlName="pronounce" />
            </div>
            <label class="block mt-5 font-medium">Từ loại</label>
            <div class="flex items-center border border-[var(--color-neutral-95)] px-3 py-2 rounded-xl focus-within:border-[var(--color-primary)]">
                <input #inputElement class="outline-none grow" type="text" formControlName="kind" />
            </div>
            <label class="block mt-5 font-medium">*Nghĩa</label>
            <div class="flex items-center border border-[var(--color-neutral-95)] px-3 py-2 rounded-xl focus-within:border-[var(--color-primary)]">
                <input #inputElement class="outline-none grow" type="text" formControlName="mean" />
            </div>
            @if (submitted && dataAddWord.controls['mean'].errors) {
                <div class="text-xs text-[var(--color-fail)] mt-1">Không được để trống trường này</div>
            }
            <label class="block mt-5 font-medium">Ghi chú</label>
            <div class="flex items-center border border-[var(--color-neutral-95)] px-3 py-2 rounded-xl focus-within:border-[var(--color-primary)]">
                <input #inputElement class="outline-none grow" type="text" formControlName="note" />
            </div>

            <div class="btn-primary w-full text-center mt-5" (click)="submit()">
                {{ type === 'add' ? 'Thêm từ' : 'Sửa từ' }}
            </div>
        </form>
        @if(loading) {
            <div class="loader"></div>
        }
    </div>
</app-modal>
