<div class="relative">
    <div class="font-semibold text-xl text-center">Đăng nhập</div>
    <form [formGroup]="dataLogin">
        <label class="font-medium">*Email</label>
        <div class="flex items-center border border-[var(--color-neutral-95)] px-3 py-2 rounded-xl focus-within:border-[var(--color-primary)]">
            <img class="w-[18px] mr-2" src="/images/icons/ic_mail.png" alt="Email">
            <input #inputElement class="outline-none grow" type="text" formControlName="email" (ngModelChange)="textErr = ''" (keydown.enter)="handleEnter(0, $event)" />
        </div>
        @if (submitted && dataLogin.controls['email'].errors) {
            @if (dataLogin.controls['email'].errors['required']) {
                <div class="text-xs text-[var(--color-fail)] mt-1">*Không được để trống trường này</div>
            }
            @if (dataLogin.controls['email'].errors['email']) {
                <div class="text-xs text-[var(--color-fail)] mt-1">*Email không đúng định dạng</div>
            }
        }
        <label class="block mt-5 font-medium">*Mật khẩu</label>
        <div class="flex items-center border border-[var(--color-neutral-95)] px-3 py-2 rounded-xl focus-within:border-[var(--color-primary)]">
            <img class="w-[18px] mr-2" src="/images/icons/ic_padlock.png" alt="Password">
            <input #inputElement class="outline-none grow" [type]="showPass ? 'text' : 'password'" (ngModelChange)="textErr = ''" formControlName="password" (keydown.enter)="handleEnter(1, $event)" />
            <img class="w-[18px]" (click)="showPass = !showPass" src="/images/icons/ic_{{ showPass ? 'hidden' : 'eye' }}.png" alt="icon">
        </div>
        @if (submitted && dataLogin.controls['password'].errors) {
            <div class="text-xs text-[var(--color-fail)] mt-1">*Không được để trống trường này</div>
        }
        @if(textErr) {
            <div class="text-xs text-[var(--color-fail)] mt-1">*{{ textErr }}</div>
        }
    </form>
    <div class="text-end select-none cursor-pointer mt-2 mb-3 text-sm text-[var(--color-primary)] hover:underline">
        Quên mật khẩu?
    </div>
    <div class="btn-primary w-full text-center" (click)="login()">Đăng nhập</div>
    @if(loading) {
        <div class="loader"></div>
    }
</div>