<div class="grid grid-cols-12 gap-4 mt-5">
    <div class="col-span-3">
        <div class="shadow-[4px_4px_15px_#ffffff08_inset] bg-white border border-[#F2F2F2] w-full p-4 rounded-3xl border-solid">
            <div class="font-medium mb-4">Từ khóa hót</div>
            <div class="flex flex-wrap gap-3">
                @for (item of ['ok', 'hi', 'close', 'done', 'beer', 'please', 'good', 'sitdown']; track $index) {
                    <div class="bg-[#F2F2F2] px-3 py-2 rounded-[99px] border-[#F2F2F2]">{{ item }}</div>
                }
            </div>
        </div>
    </div>
    <div class="col-span-6">
        <div class="relative shadow-[4px_4px_15px_#ffffff08_inset] bg-white border border-[#F2F2F2] w-full p-4 rounded-3xl border-solid min-h-[400px]">
            <div class="flex items-center">
                <img class="mr-2" src="/images/icons/ic_tip.svg" alt="Tips">
                <span>Mẹo học tập</span>
            </div>
            <div class="uppercase mt-4">{{ tips[tipIdx].title }}</div>
            <div class="mt-3">{{ tips[tipIdx].explain }}</div>
            <div class="absolute text-white bg-[#2C416D] font-medium text-[15px] leading-[19px] text-center px-4 py-2 rounded-[24px_0] right-0 bottom-0">Sơ cấp</div>
        </div>
    </div>
    <div class="col-span-3">
        <div class="shadow-[4px_4px_15px_#ffffff08_inset] bg-white border border-[#F2F2F2] w-full p-4 rounded-3xl border-solid mt-4">
            <div class="font-medium mb-4">Lịch sử</div>
            <div class="flex flex-wrap gap-3">
                @for (item of ['ok', 'hi', 'close', 'done', 'beer', 'please', 'good', 'sitdown']; track $index) {
                    <div class="bg-[#F2F2F2] px-3 py-2 rounded-[99px] border-[#F2F2F2]">{{ item }}</div>
                }
            </div>
        </div>
    </div>
</div>
