<footer class="md:grid md:grid-cols-3 container mx-auto rounded-[20px] bg-white p-6 mt-8 mb-3">
    <div>
        <div class="logo text-[#2C416D] leading-5 text-3xl mb-4">EFaster</div>
        <div class="mt-1">Tiết kiệm thời gian, <br> dễ dàng giao tiếp!</div>
    </div>
    <div class="my-4 md:my-0">
        <div class="mb-4 font-semibold">Trải nghiệm ngay</div>
        <ul>
            <li><a routerLink="/dictionary">Từ điển</a></li>
            <li class="my-3"><a routerLink="/notebook">Sổ tay</a></li>
            <li class="my-3"><a routerLink="/practice">Luyện tập</a></li>
            <li><a routerLink="/exam">Thi thử</a></li>
        </ul>
    </div>
    <div>
        <div class="font-semibold">Liên hệ</div>
        <div class="mt-4 mb-3">Đại học Bách Khoa Hà Nội</div>
        <div class="mb-3">Trường Điện - Điện tử</div>
        <div class="mb-3">(+84) 64 2019 3189 </div>
        <div>tuyen.cv193189&#64;sis.hust.edu.vn</div>
    </div>
</footer>
