<div class="container mx-auto grid grid-cols-2 gap-4 mt-8">
    <div class="col-span-2 lg:col-span-1 bg-white rounded-md p-6 flex flex-col justify-between">
        <div>
            <div class="font-semibold text-xl mb-3">Toeic part {{ part }}</div>
            <div>TOEIC Listening Part 1 là nội dung nhìn tranh và miêu tả. </div>
            <div>Phần này gồm 10 bức tranh (đề mới: 6 bức tranh), mỗi bức tranh sẽ có 4 câu mô tả không được in trong đề.</div>
            <div>Nhiệm vụ của các bạn là nghe và chọn đáp án mô tả đúng bức tranh nhất.</div>
        </div>
        <div class="bg-[#F2F2F2] grid grid-cols-2 gap-3 w-full max-w-[450px] mx-auto rounded-2xl p-4 my-4">
            <div>
                <div class="mb-2 text-center">Chế độ kiểm tra</div>
                <div class="setting-toggle setting-item-child mx-auto" [class.active]="practiceService.testMode" (click)="toggleCheck()">
                    <div class="setting-toggle-btn"></div>
                </div>
            </div>
            <div>
                <div class="mb-2 text-center">Số lượng câu</div>
                <select class="block setting-item-select mx-auto" [(ngModel)]="practiceService.numQues" (ngModelChange)="hanldeTime()">
                    @for (item of arrNumQues[part - 1]; track $index) {
                        <option [ngValue]="item">{{ item }}</option>
                    }
                </select>
            </div>
        </div>
        <div class="flex justify-center">
            <a class="btn-primary mr-3" routerLink="/practice/{{ part }}/doing">Bắt đầu</a>
            <button class="btn-danger" routerLink="/practice/{{ part }}/failed">Làm lại câu sai</button>
        </div>
    </div>
    <div class="col-span-2 lg:col-span-1 md:grid md:grid-cols-2 md:gap-4">
        @if(summary && summary.done_questions[part]) {
            <div class="my-4 md:my-0 bg-white rounded-md p-[20px] grid grid-cols-[60px_1fr_40px] items-center border-l-4 border-l-[var(--color-primary)]">
                <span class="col-span-2 mb-2 text-[var(--color-primary)] text-sm uppercase font-semibold">
                    Hoàn thành
                </span>
                <img class="w-8 row-span-2 justify-self-end" src="images/icons/ic_total.png" alt="Correct">
                <span class="text-xl font-bold text-[var(--color-neutral-45)]">
                    {{ (summary.done_questions[part].length / totalQues[part - 1] * 100) | number:'1.0-0' }}%
                </span>
                <div class="h-2 bg-[var(--bg-primary)] rounded-full overflow-hidden">
                    <div class="h-full bg-[var(--color-primary)]" [style.width.%]="(summary.done_questions[part].length / totalQues[part - 1] * 100) | number:'1.0-0'"></div>
                </div>
            </div>
            <div class="my-4 md:my-0 bg-white rounded-md p-[20px] grid grid-cols-[60px_1fr_40px] items-center border-l-4 border-l-[var(--color-success)]">
                <span class="col-span-2 mb-2 text-[var(--color-success)] text-sm uppercase font-semibold">
                    Tỉ lệ đúng
                </span>
                <img class="w-8 row-span-2 justify-self-end" src="images/icons/ic_correct_total.png" alt="Correct">
                <span class="text-xl font-bold text-[var(--color-neutral-45)]">{{ ((summary.done_questions[part].length - summary.false_questions[part].length) / summary.done_questions[part].length * 100) | number:'1.0-0' }}%</span>
                <div class="h-2 bg-[var(--bg-primary)] rounded-full overflow-hidden">
                    <div class="h-full bg-[var(--color-success)]" [style.width.%]="((summary.done_questions[part].length - summary.false_questions[part].length) / summary.done_questions[part].length * 100) | number:'1.0-0'"></div>
                </div>
            </div>
        } @else {
            <div class="my-4 md:my-0 bg-white rounded-md p-[20px] grid grid-cols-[60px_1fr_40px] items-center border-l-4 border-l-[var(--color-primary)]">
                <span class="col-span-2 mb-2 text-[var(--color-primary)] text-sm uppercase font-semibold">
                    Hoàn thành
                </span>
                <img class="w-8 row-span-2 justify-self-end" src="images/icons/ic_total.png" alt="Correct">
                <span class="text-xl font-bold text-[var(--color-neutral-45)]">
                    0%
                </span>
                <div class="h-2 bg-[var(--bg-primary)] rounded-full overflow-hidden">
                    <div class="h-full bg-[var(--color-primary)]" [style.width.%]="0"></div>
                </div>
            </div>
            <div class="my-4 md:my-0 bg-white rounded-md p-[20px] grid grid-cols-[60px_1fr_40px] items-center border-l-4 border-l-[var(--color-success)]">
                <span class="col-span-2 mb-2 text-[var(--color-success)] text-sm uppercase font-semibold">
                    Tỉ lệ đúng
                </span>
                <img class="w-8 row-span-2 justify-self-end" src="images/icons/ic_correct_total.png" alt="Correct">
                <span class="text-xl font-bold text-[var(--color-neutral-45)]">0%</span>
                <div class="h-2 bg-[var(--bg-primary)] rounded-full overflow-hidden">
                    <div class="h-full bg-[var(--color-success)]" [style.width.%]="0"></div>
                </div>
            </div>
        }
        <div class="bg-white rounded-md col-span-2 p-4">
            <div class="font-semibold text-lg mb-4">Lịch sử luyện tập</div>
            <div class="max-h-[280px] overflow-hidden">
                @if(!loading) {
                    <canvasjs-chart [options]="chartOptions"></canvasjs-chart>
                }
            </div>
            <div class="mx-auto w-max">
                <div class="mt-5 w-max">
                    <span class="w-6 h-3 bg-[var(--color-success)] inline-block"></span>
                    &nbsp;Tỷ lệ số câu đúng
                </div>
                <div class="w-max">
                    <span class="w-6 h-3 bg-[var(--color-fail)] inline-block"></span>
                    &nbsp;Thời gian làm bài
                </div>
            </div>
        </div>
    </div>
    
</div>
