@let listTest = sListTest();
@let idxHistory = sIdxHistory();
<div class="container mx-auto md:grid md:grid-cols-3 gap-3">
    <div class="">
        <h4 class="my-3 font-semibold">Cấu trúc đề thi</h4>
        <div class="struct-skill">Nghe hiểu</div>
        <div class="struct-skill-cont relative">
            <div class="struct-line absolute"></div>
            <div class="struct-time absolute">45'</div>
            <div class="struct-part my-3">Mô tả tranh</div>
            <div class="struct-part my-3">Hỏi và Trả lời</div>
            <div class="struct-part my-3">Hội thoại</div>
            <div class="struct-part my-3">Đoạn thông tin ngắn</div>
        </div>
        <div class="struct-skill">Đọc hiểu</div>
        <div class="struct-skill-cont relative">
            <div class="struct-line absolute"></div>
            <div class="struct-time absolute">75'</div>
            <div class="struct-part my-3">Hoàn thành câu</div>
            <div class="struct-part my-3">Hoàn thành đoạn văn</div>
            <div class="struct-part my-3">Đoạn văn đơn & Nhóm đoạn văn</div>
        </div>
    </div>
    <div class="col-span-2 mt-40px md:grid gap-3 md:grid-cols-3 list-test">
        @for (test of listTest; track $index) {
            <div class="test-item relative">
                <div class="font-medium">{{ test.name }}</div>
                @if(test.histories && test.histories.length) {
                    <img class="icon-history absolute cursor-pointer" src="/images/icons/ic_history.png" alt="lịch sử" (click)="openModalHistory($index)">
                    <div class="infor-progress">
                        <div class="content-between">
                            <span class="txt-gray">Chưa đạt</span>
                            <div class="fw-600">{{ test.histories[0].score }}/990</div>
                        </div>
                        <div class="progress-bar mt-1">
                            <div class="progress fail" [style.width.%]="25"></div>
                        </div>                              
                    </div>
                    <div class="flex items-center justify-end">
                        <a class="btn-danger mt-2" routerLink="/exam/detail/{{test.id}}">Làm lại</a>
                    </div>
                } @else {
                    <div class="font-cursive absolute">TOEIC</div>
                    <div class="flex box-infor-test">
                        <div class="infor-test">
                            <div>200 câu</div>
                            <div class="mt-2">120 phút</div>
                            <div class="mt-2">Nghe & đọc</div>
                        </div>
                        <div class="btn-primary w-max" (click)="openExam(test.id)">Bắt đầu</div>
                    </div>
                }
            </div>
        }
    </div>
</div>
@if(listTest[idxHistory].histories) {
    <app-modal-histories [histories]="listTest[idxHistory].histories" [examId]="listTest[idxHistory].id" />
}