.box-action {
    width: 120px;
    padding: 8px 12px;
    position: absolute;
    border-radius: 20px;
    font-size: 15px;
    font-weight: 500;
    line-height: 19px;
    z-index: 999;
    right: 0;
    top: 20px;
    display: none;
    box-shadow: 4px 4px 15px #ffffff08 inset;
    background-color: #fff;
    border: 1px solid #F2F2F2;
}

.box-action-wrap:hover .box-action {
    display: block;
}