.btn-primary, .btn-warn, .btn-danger, .btn-success {
    font-weight: 500;
    padding: 8px 16px;
    border-radius: 99px;
    cursor: pointer;
    color: var(--color-white);
    text-decoration: none;
    user-select: none;
}
.btn-primary {
    background-color: var(--color-primary);
}
.btn-primary:hover {
    background-color: var(--color-primary-20);
}
.btn-warn {
    background-color: var(--color-warn);
}
.btn-warn:hover {
    background-color: var(--color-warn-hover);
}
.btn-danger {
    background-color: var(--color-fail);
}
.btn-danger:hover {
    background-color: var(--color-fail-hover);
}
.btn-success {
    background-color: var(--color-success);
}
.btn-success:hover {
    background-color: var(--color-success-hover);

}
