/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";
@font-face {
    font-family: inter;
    src: url('/fonts/inter/Inter-VariableFont_slnt,wght.ttf') format("opentype");
    font-display: swap;
}
@font-face {
    font-family: Wendy_One;
    src: url('/fonts/Wendy_One/WendyOne-Regular.ttf') format("opentype");
    font-display: swap;
}
:root {
    --color-primary: #2C416D;
    --color-primary-10: #2C416D;
    --color-primary-20: #42578B;
    --color-semantic-rhino-90: #E3ECF6;
    --color-white: #fff;
    --color-text: #1f1f1f;
    --color-neutral-95: #F2F2F2;
    --color-neutral-90: #E5E5E5;
    --color-neutral-45: #595959;
    --bg-primary: #f0f1f5;
    --bg-btn-active: #E3ECF6;
    --surface-neutral-primary: #F2F2F2;
    --color-success: #0F8C66;
    --color-success-hover: #1BA77A;
    --color-semantic-emerald-100: #EDFCF5;
    --color-fail: #CD3535;
    --color-fail-hover: #DF4444;
    --color-semantic-valencia-100: #FDF3F3;
    --color-warn: #FFC53D;
    --color-warn-hover: #FFD666;
}
*, ::after, ::before {
    box-sizing: border-box;
}
body {
    font-family: inter;
    background-color: var(--bg-primary);
    -webkit-font-smoothing: antialiased; /* Chrome, Safari */
    -moz-osx-font-smoothing: grayscale;  /* Firefox on macOS */
    color: #1f1f1f;
}
.hide-scroll-bar::-webkit-scrollbar {
    width: 0;
    height: 0;
}
.logo {
    white-space: nowrap;
    overflow: hidden;
    text-decoration: none;
    font-weight: 600;
    font-family: Wendy_One;
}
.btn.login {
    border-radius: 99px;
    background-color: var(--color-primary);
    color: var(--color-white);
    font-weight: 500;
}

.btn-primary, .btn-warn, .btn-danger, .btn-success {
    font-weight: 500;
    padding: 8px 16px;
    border-radius: 99px;
    cursor: pointer;
    color: var(--color-white);
    text-decoration: none;
    user-select: none;
}
.btn-primary {
    background-color: var(--color-primary);
}
.btn-primary:hover {
    background-color: var(--color-primary-20);
}
.btn-warn {
    background-color: var(--color-warn);
}
.btn-warn:hover {
    background-color: var(--color-warn-hover);
}
.btn-danger {
    background-color: var(--color-fail);
}
.btn-danger:hover {
    background-color: var(--color-fail-hover);
}
.btn-success {
    background-color: var(--color-success);
}
.btn-success:hover {
    background-color: var(--color-success-hover);

}
@keyframes spin {
    0% {
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
    }
}
.loader {
    border: 5px solid #f3f3f3;
    border-radius: 50%;
    border-top: 5px solid #afb2b6;
    width: 50px;
    height: 50px;
    -webkit-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
    position: absolute;
    top: calc(50% - 25px);
    left: calc(50% - 25px);
}

.scrollbar-common::-webkit-scrollbar {
    width: 3px;
}
.scrollbar-common::-webkit-scrollbar-track {
    display: none;
}
.scrollbar-common::-webkit-scrollbar-thumb {
    background-color: #d9d9d9; 
    border-radius: 30px;
}
.scrollbar-common::-webkit-scrollbar-thumb:hover {
    background: gray;
}
.one-line, .two-line {
    overflow: hidden;
    display: -webkit-box!important;
    -webkit-box-orient: vertical;
}
.one-line {
    -webkit-line-clamp: 1;
}
.two-line {
    -webkit-line-clamp: 2;
}

vg-controls {
    z-index: 0 !important;
}
.circular-chart {
    display: block;
    width: 200px;
    height: 200px;
    margin: 0 auto;
}
.circle-bg {
    fill: none;
    stroke: #f2f2f2;
    stroke-width: 3;
}
.status-wrong .circle{
    stroke: #CD3535;
}
.status-success .circle{
    stroke: #0F8C66;
}
.circle {
    fill: none;
    stroke-width: 3;
    stroke-linecap: round;
    animation: progress 1s ease-out forwards;
}
.result-text {
    font-family: cursive, 'Courier New', Courier, monospace;
}
.status-wrong .result-text {
    color: #CD3535;
}
.status-success .result-text {
    color: #0F8C66;
}
.status-success .tag {
    background-color: #EDFCF5;
    color: #0F8C66;
}
.status-wrong .tag {
    background-color: #FDF3F3;
    color: #CD3535;
}
@media (width >= 96rem) {
    .container {
        max-width: 86rem;
    }
}
.right-bar-mb {
    display: none;
}
.right-bar-mb-open {
    visibility: hidden;
    touch-action: none;
    pointer-events: none;
}

@media screen and (max-width: 767.98px) {
    .container {
        max-width: 95%;
    }
    .right-bar-mb {
        display: block;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: #f1f1f1;
        padding: 12px;
        width: 100%;
        z-index: 15;
        transition: all 0.2s;
        transform: translateX(100%);
        overflow-y: auto;
    }
    .right-bar-mb.active {
        transform: translateX(0%);
    }
    .right-bar-mb-open {
        visibility: visible;
        touch-action: auto;
        pointer-events: all;
        width: 20px;
        height: 20px;
    }
}